.input-0{
    width: 5%;
}

.input-1{
    width: 10%;
}
.input-2{
    width: 20%;
}
.input-3{
    width: 30%;
}
.input-4{
    width: 40%;
}
.input-5{
    width: 50%;
}
.input-6{
    width: 60%;
}
.input-7{
    width: 70%;
}
.input-8{
    width: 80%;
}
.input-9{
    width: 90%;
}
.input-10{
    width: 100%;
}

.fs-5px{
 font-size: 20px;
}

.content-agree {
    width: 100%;
}

.effect__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.effect__establish {
    margin-bottom: 20px;
}

.signature {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 10px;
}

.input-signature {
    border: 0;
    width: 55%;
    height: 110%;
}

.buyer--b {
    padding: 15px;
}

.seller--b {
    padding: 15px;
}

.appendix {
    padding-top: 20px;
    text-align: center;
}

.appendix--i {
    display: flex;
    justify-content: space-around;
}

.appendix b {
    display: block;
    margin-top: 5px;
}

.appendix h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.appendix__note {
    margin-top: 10px;
}

.appendix__note ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.appendix__note ul li {
    margin-bottom: 5px;
    margin-left: 33px;
}

.content {
    margin-left: 4%;
}

.justify-text {
    text-align: justify;
}

.card-information{
    position: fixed;
    left: 10%;
}

.input-message:focus-visible{
    --tw-ring-color: black;
    border: 1px solid;
}
